@import "tailwindcss";

body {
  background-image: url('/bg-graffiti.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: sans-serif;
  background-color: #0f0f0f; /* fallback */
}